<html>

<head>
    <script src="/js/jquery-3.6.0.js"></script>
    <script src="/js/task.js"></script>
</head>

<body>
    <center>
        <h1>Tasks</h1><br>

        <button id="addTaskBtn">Add Task</button>
        <button>Edit</button>
        <button>Delete</button><br><br>
        <table>
            <thead>
                <tr>
                    <th>Description</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Reading</td>
                    <td>completed</td>
                </tr>
                <tr>
                    <td>Cooking</td>
                    <td>Incompleted</td>
                </tr>
            </tbody>
        </table>
    </center>
</body>

</html>