<html>

<head>
    <script src="/js/jquery-3.6.0.js"></script>
    <script src="/js/users.js"></script>
</head>

<body>
    <center>
        <h1>Users</h1><br>
        <button id="addBtn">Add</button>
        <button>Edit</button>
        <button>Delete</button><br><br>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Priya</td>
                    <td>priya@123</td>
                </tr>
                <tr>
                    <td>Divya</td>
                    <td>divya@1234</td>
                </tr>
            </tbody>
        </table>
    </center>
</body>

</html>